* {
    transition: all .1s ease-in;
}

body {
    border: 15px solid #2B81AC;
    color: #fff;
    background-color: #3399CC;
    font-family: sans-serif;
    font-size: 0pt;
    padding: 0;
    margin: 0;

}

header,
footer,
ul {
    margin: 0px 210px
}

footer {
    margin-bottom: 13%
}

h1 {
    font-size: 22pt
}

p {
    font-size: 14pt
}

ul {
    list-style: none;
    border: 5px solid #fff;
    padding: 0;
    max-width: 890px;
    
}

li {
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
    width: 17.81%;
    font-size: 14pt;
    vertical-align: middle;
    margin: 0;


}

li.Lisboa {
    background-color: #009ACF;
    width: 43%;

    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;

}

li.Paris {
    background-color: #00CDCD;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
}

li.Belgrade {
    background-color: #AA669C;
    border-bottom: 5px solid #fff;
}

li.Moscow {
    background-color: #DF4545;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
}

li.Tel_Aviv {
    background-color: #FF6747;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
}

li.Cair {
    background-color: #FFCD5E;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    width: 17.89%;
}

li.New_York {
    background-color: #7ECD98;
    border-bottom: 5px solid #fff;
    width: 17.8%;
}

li.New_Delhi {
    background-color: #439A9A;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
}

li.San_Francisco {
    background-color: #E7669C;
    width: 43%;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;

}

li.Tokyo {
    background-color: #009A63;
    border-bottom: 5px solid #fff;

}

li.Sydney {
    background-color: #66669C;
    width: 93.3%;

}

li:hover {
    opacity: 0.5;

}

a,
a:hover,
a:active,
a:visited {
    color: #fff;
    text-decoration: none;
}